<app-navbar></app-navbar>
<h1>My To-do List</h1>
<app-search-bar (newSearchEvent)="todoListService.searchEntries($event)"></app-search-bar>
<h2>To-dos:</h2>
  <div *ngFor="let todoEntry of todoListService.todoList">
  <app-todo-entry
    [id]="todoEntry.id"
    [header]="todoEntry.header"
    [body]="todoEntry.body"
    [status]="todoEntry.status"
    [show]="todoEntry.show"
    (newStatusEvent)="todoListService.changeImportant($event)"
    (newDoneEvent)="todoListService.changeDone($event)"
    (newDeleteEvent)="todoListService.delete($event)"
  ></app-todo-entry>
</div>
<app-entry-form (newEntryEvent)="todoListService.add($event)"></app-entry-form>


