<app-navbar></app-navbar>
<form #myForm="ngForm" action="">
  <h2>Register</h2>
  <label for="register-email">E-mail:
    <input type="email" id="register-email" name="email" [(ngModel)]="email">
  </label>
  <label for="register-password">Password:
    <input type="text" id="register-password" name = "password"[(ngModel)]="password">
  </label>
  <label for="register-fio">Name:
    <input type="text" id="register-fio" name="fio" [(ngModel)]="fio">
  </label>
  <button (click)="submit(myForm)">Register</button>
</form>

<p>{{loginService.message}}</p>
